body{
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
 }
 
 .box{
    display: inline-block;
    border: 1px solid black;
    margin: 2vh 25px 2vh 25px;
    min-width: 250px;
    max-width: 250px;
    min-height: 300px;
    max-height: 200px;
 }
@media screen and (min-width:375px) and (max-width:1250px){
.box{
        display:block;
        min-width: 200px; 
        max-width: 200px;
        min-height: 300px;
        max-height: 300px;
}
.left{
    margin-right: 100vw;
    float: left;
}
.right{
    margin-left: 100vw;
    float: right;
}
}
@media screen and (min-width:375px) and (max-width:1250px){
    .box{
            display:block;
            min-width: 60vw; 
            max-width: 60vw;
            min-height: 60vh;
            max-height: 400vh;
            margin: 3vh auto 3vh auto;
    }
}
